<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-md-12">
        <div class="col-md-3">
          <%= image_tag 'visitors/my_doc_icon.svg', class: 'card_image' %>
        </div>
        <div class="col-md-6">
          <h3><b>My Documents</b></h3>
          <p class="yield_description">Create, sign and manage lease agreements, notice forms and other documents.</p>
        </div>
        <div class="col-md-3">
          <%= image_tag current_page?(visitors_url) ? 'visitors/active_arrow.svg' : 'visitors/inactive_arrow.svg', class: 'arrow_icon' %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="card mt-3">
  <div class="card-body">
    <div class="row">
      <div class="col-md-12">
        <div class="col-md-3">
          <%= image_tag 'visitors/rental_app_icon.svg', class: 'card_image' %>
        </div>
        <div class="col-md-6">
          <h3><b>Rental Applications</b></h3>
          <p class="yield_description">Easily screen tenants with our online rental application form.</p>
        </div>
        <div class="col-md-3">
          <%= image_tag 'visitors/inactive_arrow.svg', class: 'arrow_icon' %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="card mt-3">
  <div class="card-body">
    <div class="row">
      <div class="col-md-12">
        <div class="col-md-3">
          <%= image_tag 'visitors/my_prop_icon.svg', class: 'card_image' %>
        </div>
        <div class="col-md-6">
          <h3><b>My Properties</b></h3>
          <p class="yield_description">Save and review information about your rental properties and tenants.</p>
        </div>
        <div class="col-md-3">
          <%= image_tag 'visitors/inactive_arrow.svg', class: 'arrow_icon' %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="card mt-3">
  <div class="card-body">
    <div class="row">
      <div class="col-md-12">
        <div class="col-md-3">
          <%= image_tag 'visitors/acc_set_icon.svg', class: 'card_image' %>
        </div>
        <div class="col-md-6">
          <h3><b>Account Settings</b></h3>
          <p class="yield_description">view and edit login, contact info and subscription details.</p>
        </div>
        <div class="col-md-3">
          <%= image_tag 'visitors/inactive_arrow.svg', class: 'arrow_icon' %>
        </div>
      </div>
    </div>
  </div>
</div>