<%= render partial: 'layouts/page_heading' %>

<!-- ErrorAlert -->
<div class="d-flex justify-content-start">
  <div class="error_alert display_none mt-4 text-center"></div>
  <div class="success_alert display_none mt-4 text-center"></div>
</div>

<form name="account_change_password" id="ChangePassword">
  <input type="hidden" value="<%= current_user.id %>" id="AccSettingPassUpdateUID">

  <div class="d-flex align-items-center my-4"></div>

  <!-- Current Password -->
  <div class="form-group">
    <label for="SettingCP" class="bold">Enter Current Password*</label>
    <div class="fake-input">
      <input
        type="password"
        id="SettingCP"
        name="Setting[CP]"
        autofocus="autofocus"
        placeholder="Your Password"
        class="form-control form-control-lg toggle-password-acc-set-cp"
      >
      <%= image_tag 'global_images/eye_icon.svg', width: '20', id: 'accSettingCP' %>
    </div>
    <span class="error display_none" id="PassIncorrect"></span>
  </div>

  <!-- New Password -->
  <div class="form-outline mt-4">
    <label class="form-label bold" for="SettingNP">New Password*</label>
    <div class="fake-input">
      <input
        id="SettingNP"
        type="password"
        name="Setting[NP]"
        autofocus="autofocus"
        placeholder="Enter Your Password"
        class="form-control form-control-lg toggle-password-acc-set-np"
      >
      <%= image_tag 'global_images/eye_icon.svg', width: '20', id: 'accSettingNP' %>
    </div>
    <span class="error display_none" id="UserExists"></span>
  </div>

  <!-- Confirm Password -->
  <div class="form-outline mt-4">
    <label class="form-label bold" for="SettingCNP">Confirm New Password*</label>
    <div class="fake-input">
      <input
        id="SettingCNP"
        type="password"
        name="Setting[CNP]"
        autofocus="autofocus"
        placeholder="Confirm Your Password"
        class="form-control form-control-lg toggle-password-acc-set-cnp"
      >
      <%= image_tag 'global_images/eye_icon.svg', width: '20', id: 'accSettingCNP' %>
    </div>
    <span class="error display_none" id="PasswordError"></span>
  </div>


  <!-- Save & Cancel Buttons -->
  <div class="d-flex justify-content-start my-4">
    <button type="submit" class="create-button" id="AccSettingUpdatePassBtn">Save & Update</button>
    <button
      type="button" class="cancel-button ml-3"
      onclick="window.location.href='<%= account_path %>'">
      Cancel
    </button>
  </div>
</form>

<%= javascript_include_tag 'acc_setting_update_pass' %>
