<div class="d-flex justify-content-around dropdown-padding">

  <%= link_to '#' do %>
    <%= image_tag 'documents/downlaod_icon.svg' %>
  <% end %>

  <%= link_to '#' do %>
    <%= image_tag 'documents/edit_icon.svg', class: 'mob-margin' %>
  <% end %>

  <!-- Dropdown Link -->

  <div class="dropdown my-auto">
    <%= link_to '',
                id: 'documentDropdown',
                data: { toggle: 'dropdown' },
                input_html: { type: 'button' },
                aria: { haspopup: 'true', expanded: 'false' } do %>
      <%= image_tag 'documents/more.svg' %>
    <% end %>

    <div class="dropdown-menu" aria-labelledby="documentDropdown" id="DocDropMob">
      <ul>
        <li><%= link_to '#', class: 'dropdown-item' do %>
            <div class="d-flex justify-content-start">
              <%= image_tag 'documents/view_icon.svg', class: 'm-0' %>
              <span>View</span>
            </div>
          <% end %></li>
        <li><%= link_to '#', class: 'dropdown-item' do %>
            <div class="d-flex justify-content-start">
              <%= image_tag 'documents/print_icon.svg', class: 'm-0' %>
              <span>Print</span>
            </div>
          <% end %></li>
        <li><%= link_to '#', class: 'dropdown-item' do %>
            <div class="d-flex justify-content-start">
              <%= image_tag 'documents/share_icon.svg', class: 'm-0', width: '20' %>
              <span>Share</span>
            </div>
          <% end %></li>
        <li><%= link_to '#', class: 'dropdown-item ml-2' do %>
            <div class="d-flex justify-content-start">
              <%= image_tag 'documents/rename_icon.svg', class: 'm-0' %>
              <span>Rename</span>
            </div>
          <% end %></li>
        <li><%= link_to '#', class: 'dropdown-item ml-2' do %>
            <div class="d-flex justify-content-start">
              <%= image_tag 'documents/delete_icon.svg', class: 'm-0' %>
              <span>Delete</span>
            </div>
          <% end %></li>
      </ul>
    </div>
  </div>

</div>