<div class="d-flex justify-content-around dropdown-padding">

  <!-- Download -->
  <%= link_to '#' do %>
    <%= image_tag 'documents/downlaod_icon.svg' %>
  <% end %>

  <!-- Edit -->
  <% if %w[completed ready_to_sign].include?(document.status) %>
    <%= link_to '#' do %>
      <%= image_tag 'documents/edit_icon.svg', class: 'mob-margin' %>
    <% end %>
  <% end %>

  <!-- Dropdown Link -->
  <div class="dropdown my-auto">
    <%= link_to '',
                id: 'documentDropdown',
                data: { toggle: 'dropdown' },
                input_html: { type: 'button' },
                aria: { haspopup: 'true', expanded: 'false' } do %>
      <%= image_tag 'documents/more.svg' %>
    <% end %>

    <div class="dropdown-menu" aria-labelledby="documentDropdown" id="DocDropMob">
      <ul>
        <li>
          <%= link_to '#', class: 'dropdown-item' do %>
            <div class="d-flex justify-content-start">
              <%= image_tag 'documents/view_icon.svg', class: 'm-0' %>
              <span>View</span>
            </div>
          <% end %>
        </li>
        <li>
          <%= link_to '#', class: 'dropdown-item' do %>
            <div class="d-flex justify-content-start">
              <%= image_tag 'documents/print_icon.svg', class: 'm-0' %>
              <span>Print</span>
            </div>
          <% end %>
        </li>
        <li>
          <%= link_to '#', class: 'dropdown-item' do %>
            <div class="d-flex justify-content-start">
              <%= image_tag 'documents/share_icon.svg', class: 'm-0', width: '20' %>
              <span>Share</span>
            </div>
          <% end %>
        </li>
        <li>
          <%= link_to '#', class: 'dropdown-item ml-2', data: { toggle: 'modal', target: "#renameModal#{document.id}" } do %>
            <div class="d-flex justify-content-start">
              <%= image_tag 'documents/rename_icon.svg', class: 'm-0' %>
              <span>Rename</span>
            </div>
          <% end %>
        </li>
        <li>
          <%= link_to '#', class: 'dropdown-item ml-2', data: { toggle: 'modal', target: "#deleteModal#{document.id}" } do %>
            <div class="d-flex justify-content-start">
              <%= image_tag 'documents/delete_icon.svg', class: 'm-0' %>
              <span>Delete</span>
            </div>
          <% end %>
        </li>
      </ul>
    </div>
  </div>

</div>

<!-- Rename Modal -->
<div class="modal fade rename-modal" id="renameModal<%= document.id %>" tabindex="-1" role="dialog" aria-labelledby="renameModalLabel<%= document.id %>" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center">
        <h5 class="modal-title" id="renameModalLabel<%= document.id %>"><b>Rename Document</b></h5>
      </div>
      <form action="/update/document" method="post">
        <div class="modal-body">
          <div class="form-outline">
            <label class="form-label font-normal" for="InputRename"></label>
            <input
              type="text"
              id="InputRename"
              name="document[name]"
              value="<%= check_for(document.name) %>"
              class="form-control form-control-lg"
            >
            <input type="hidden" name="id" value="<%= document.id %>">
          </div>
        </div>
        <div class="modal-footer rename-modal-footer d-flex justify-content-center">
          <button type="submit" class="btn create-button w-100">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Delete Modal -->
<div class="modal fade rename-modal" id="deleteModal<%= document.id %>" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel<%= document.id %>" aria-hidden="true">
  <div class="modal-dialog" role="document" style="min-width: 600px;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center">
        <%= image_tag('documents/doc_delete_icon.svg') %>
        <h3 class="modal-title my-3" id="deleteModalLabel<%= document.id %>"><b>Are you sure?</b></h3>
      </div>
      <form action="/delete/document/" method="post">
        <div class="modal-body">
          <div class="form-outline text-center">
            Are you sure to delete the “<%= document.name %>” document?
            <input type="hidden" name="id" value="<%= document.id %>">
          </div>
        </div>
        <div class="modal-footer rename-modal-footer d-flex justify-content-center my-3">
          <button type="submit" class="btn create-button" id="DeleteDocument">Yes</button>
          <button type="button" class="btn cancel-button" data-dismiss="modal" id="CancelDelete">Cancel</button>
        </div>
      </form>
    </div>
  </div>
</div>