<table class="table documents-table">
  <thead>
  <tr>
    <th>NAME</th>
    <th>STATUS</th>
  </tr>
  </thead>
  <tbody>
  <% @documents.each_with_index do |document, index| %>
    <tr>
      <td>
        <div class="document-name-cell-container">
          <span class="name"><%= document.name %></span><br>
          <span class="date opacity-0-6">Created on <%= document.created_at %></span>
        </div>
      </td>
      <td>
        <div class="document-status">
          <span class="<%= document.status %>">
            <%= document.status %>
          </span>
        </div>
      </td>
      <td>
        <%= render partial: 'documents/partials/dropdown', locals: {document: document} %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>