<%= javascript_include_tag 'reset_password' %>

<div class="row d-flex justify-content-center align-items-center">
  <div class="col-md-9 col-lg-6 col-xl-5 bg-light_red">
    <%= image_tag('users/SingleIllustration.png', class: 'set_login_ill') %>
  </div>

  <div class="col-md-8 col-lg-6 col-xl-4 ml-5" id="PasswordSectionEdit">
    <!-- Sign in form -->
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put, name: 'reset_password', class: 'edit-form-padding' }) do |f| %>
      <%= devise_error_messages! %>
      <%= f.hidden_field :reset_password_token %>

      <!-- Heading -->
      <div class="row reset-pass-heading">
        <div class="col-md-12">
          <span class="login_text">Reset Password</span>
          <h4>Create a new password</h4>
        </div>
      </div>

      <!-- Password input -->
      <div class="form-outline my-4">
        <label class="form-label font-normal" for="ResetNewPassword">New Password*</label>
        <%= f.password_field :password,
                             autofocus: true,
                             autocomplete: 'off',
                             id: 'ResetNewPassword',
                             placeholder: "Enter your password",
                             class: 'form-control form-control-lg'
        %>
      </div>

      <!-- Password conformation -->
      <div class="form-outline">
        <label class="form-label font-normal" for="ResetConfirmPassword">Confirm Password*</label>
        <%= f.password_field :password_confirmation,
                             autocomplete: 'off',
                             id: 'ResetConfirmPassword',
                             class: 'form-control form-control-lg',
                             placeholder: "confirm your new password"
        %>
      </div>

      <!-- Buttons -->
      <div class="my-4">
        <%= f.submit 'Save', class: 'btn w-100 login_btn', onclick: "return;" %>

        <!-- Login Link -->
        <div class="d-flex justify-content-center my-4">
          <div>
            <%= image_tag('users/BackIcon.svg', class: 'set_back_icon') %>
          </div>
          Go back to&nbsp;<a href="<%= user_session_path %>" class="link-danger text-deco-none">Login</a>
        </div>
      </div>
    <% end %>
  </div>
</div>
