<%= javascript_include_tag 'forgot_password' %>

<div class="row d-flex justify-content-center align-items-center">
  <div class="col-md-9 col-lg-6 col-xl-5 bg-light_red">
    <%= image_tag('users/SingleIllustration.png', class: 'set_login_ill') %>
  </div>

  <div class="col-md-8 col-lg-6 col-xl-4 ml-5" id="PasswordSection">
    <!-- Recover password form -->
    <%= form_for(resource, as: resource_name, url: sent_email_path(resource_name), html: { method: :post, role: 'form', name: 'forgot_password' }) do |f| %>

      <!-- Heading -->
      <div class="row recover-pass-heading">
        <div class="col-md-12">
          <span class="login_text">Password Recover</span>
          <h5>We'll send you an email with a reset link.</h5>
        </div>
      </div>

      <!-- ErrorAlert -->
      <div class="error_alert display_none"></div>

      <div class="d-flex align-items-center my-4"></div>

      <!-- Email input -->
      <div class="form-outline">
        <label class="form-label font-normal" for="ForgotPasswordEmail">Email*</label>
        <%= f.email_field :email,
                          id: 'ForgotPasswordEmail',
                          placeholder: "Enter you email",
                          class: 'form-control form-control-lg'
        %>
      </div>

      <!-- Buttons -->
      <%= f.submit 'SEND RESET LINK', class: 'btn w-100 login_btn my-4', id: 'ForgotPassword' %>

      <!-- Login Link -->
      <div class="d-flex justify-content-center">
        <div>
          <%= image_tag('users/BackIcon.svg', class: 'set_back_icon') %>
        </div>
        Go back to&nbsp;<a href="<%= user_session_path %>" class="link-danger text-deco-none">Login</a>
      </div>
    <% end %>
  </div>
</div>