<div class="row d-flex justify-content-center align-items-center">
  <div class="col-md-9 col-lg-6 col-xl-5 bg-light_red">
    <%= image_tag('users/SingleIllustration.png', class: 'set_login_ill') %>
  </div>
  <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
    <!-- Sign in form -->
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, role: 'form' }) do |f| %>

      <!-- Heading -->
      <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
        <p class="login_text">Password Recover</p>
      </div>

      <h5>We'll send you an email with a reset link.</h5>

      <!-- ErrorAlert -->
      <div class="error_alert display_none"></div>

      <div class="d-flex align-items-center my-4"></div>

      <!-- Email input -->
      <div class="form-outline mb-4">
        <label class="form-label normal_font" for="InputEmail">Email*</label>
        <%= f.email_field :email, autofocus: true, class: 'form-control form-control-lg', placeholder: "Enter you email", required: true %>
      </div>

      <!-- Buttons -->
      <div class="text-center text-lg-start mt-4 pt-2">
        <%= f.submit 'SEND RESET LINK', class: 'btn w-100 login_btn', onclick: "return;" %>

        <!-- Login Link -->
        <div class="d-flex justify-content-center mt-2">
          <%= image_tag('users/BackIcon.svg', class: 'set_back_icon mr-3 mt-2') %>
          <p class="fw-bold mt-2 pt-1 mb-0">
            Go back to
            <a href="<%= user_session_path %>" class="link-danger">
              Login
            </a>
          </p>
        </div>
      </div>
    <% end %>
  </div>
</div>

<%= stylesheet_link_tag 'custom' %>