<%= stylesheet_link_tag 'registrations' %>

<div class="row d-flex justify-content-center align-items-center">
  <div class="col-md-9 col-lg-6 col-xl-5 bg-light_red">
    <%= image_tag('users/SingleIllustration.png', class: 'set_login_ill') %>
  </div>

  <div class="col-md-8 col-lg-6 col-xl-4 ml-5" id="RegistrationSection">

    <!-- Sign in form -->
    <form name="registration" id="RegistrationForm">

      <!-- Heading -->
      <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
        <p class="login_text">Sign Up</p>
      </div>

      <!-- ErrorAlert -->
      <span class="error_alert display_none"></span>
      <div class="success_alert display_none"></div>

      <!-- Full Name -->
      <div class="form-group">
        <label for="FullName" class="font-normal">Full Name*</label>
        <input
          type="text"
          id="FullName"
          name="user[FullName]"
          autofocus="autofocus"
          placeholder="Your full name"
          class="form-control form-control-lg"
        >
      </div>

      <!-- Email input -->
      <div class="form-outline mt-3">
        <label class="form-label font-normal" for="RegEmail">Email*</label>
        <input
          type="email"
          id="RegEmail"
          name="user[email]"
          autofocus="autofocus"
          placeholder="Your email address"
          class="form-control form-control-lg"
        >
      </div>
      <span class="error display_none" id="UserExists"></span>

      <!-- Password input -->
      <div class="form-outline mt-3">
        <label class="form-label font-normal" for="RegPass">Password*</label>
        <div class="fake-input">
          <input
            id="RegPass"
            type="password"
            name="user[password]"
            placeholder="Enter your password"
            class="form-control form-control-lg toggle-password-registration"
          >
          <%= image_tag 'global_images/eye_icon.svg', width: '20', id: 'registrationEye' %>
        </div>
      </div>
      <span class="error display_none" id="PasswordError"></span>

      <!-- Terms + PP + Checkbox -->
      <div class="d-flex justify-content-start align-items-start my-3">
        <div>
          <input type="checkbox" name="user-TOS" id="TOS"/>
        </div>
        <div class="ml-2">
          <label class="form-check-label agree-text" for="TOS">
            I have read and understand the
            <a href="#!" class="text-body">Terms of Use</a>
            and
            <a href="#!" class="text-body">Privacy Policy</a>
          </label>
        </div>

      </div>


      <!-- Buttons -->
      <div class="text-center text-lg-start">

        <!-- Sign Up Button -->
        <button type="submit" class="btn w-100 custom-long-btn" id="SignupBtn">signup</button>

        <div class="divider d-flex align-items-center mtb-20">
          <p class="text-center or-text mx-3 my-auto">OR</p>
        </div>

        <!-- OmniOuth Button -->
        <div class="control-group google-sign-in">
          <button
            type="button"
            name="google_sign_in"
            class="btn w-100 omni-auth-btn"
            onclick="window.location.href='/auth/google_oauth2'">
            <div></div>
            Signup with google account
          </button>
        </div>

        <!-- Login Link -->
        <p class="my-3">Have an account?
          <a href="<%= root_path %>" class="link-danger">Login</a></p>
      </div>
    </form>
  </div>
</div>

<%= javascript_include_tag 'registrations' %>
