<div class="mt-4">
  <div id="accordion">

    <div class="card">
      <div class="card-header_header" id="headingOne">
        <h5 class="mb-0">
          <div class="d-flex justify-content-between">
            <div>
              <a class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Jonathan Cooper
              </a>
            </div>
            <div class="p-2">
              <%= image_tag 'properties/edit_tenant.svg',
                            data: { 'toggle': "collapse", 'target': '#collapseOne' },
                            aria: { 'expanded': 'true', 'controls': 'collapseOne' },
                            class: 'btn btn-link' %>
            </div>
          </div>
        </h5>
      </div>
      <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
        <div class="card-body">
          <div class="container p-5 mb-5 col-12 new_tenant_container_rectangle">
            <!-- Tenant Name -->
            <div class="form-group">
              <label for="TenantName" class="normal_font"><span class="setting_label">Tenant Name</span></label>
              <input
                type="text"
                id="TenantName"
                name=""
                value=""
                class="form-control form-control-lg input-45"
                placeholder="Enter Full Name"
                disabled
              >
            </div>

            <div class="row">
              <div class="col-md-12">
                <!-- Tenant Phone -->
                <div class="col-md-6 pl-0">
                  <div class="form-group">
                    <label for="TenantPhone" class="normal_font"><span class="setting_label">Tenant Phone</span></label>
                    <input
                      type="text"
                      id="TenantPhone"
                      name=""
                      value=""
                      class="form-control form-control-lg input-45"
                      placeholder="Enter Full Name"
                      disabled
                    >
                  </div>
                </div>
                <!-- Tenant Email -->
                <div class="col-md-6 pr-0">
                  <div class="form-group">
                    <label for="TenantEmail" class="normal_font"><span class="setting_label">Tenant Email</span></label>
                    <input
                      type="email"
                      id="TenantEmail"
                      name=""
                      value=""
                      class="form-control form-control-lg input-45"
                      placeholder="Enter Email Address"
                      disabled
                    >
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <!-- Lease Start Date -->
                <div class="col-md-6 pl-0">
                  <div class="form-group">
                    <label for="LeaseStartDate" class="normal_font"><span class="setting_label">Lease Start Date</span></label>
                    <input
                      type="date"
                      id="LeaseStartDate"
                      name=""
                      value=""
                      class="form-control form-control-lg input-45"
                      placeholder="Enter Full Name"
                      disabled
                    >
                  </div>
                </div>
                <!-- Lease End Date -->
                <div class="col-md-6 pr-0">
                  <div class="form-group">
                    <label for="LeaseEndDate" class="normal_font"><span class="setting_label">Lease End Date</span></label>
                    <input
                      type="date"
                      id="LeaseEndDate"
                      name=""
                      value=""
                      class="form-control form-control-lg input-45"
                      placeholder="Enter Email Address"
                      disabled
                    >
                  </div>
                </div>
              </div>
            </div>

            <%= link_to 'Edit Tenant', '#', class: 'edit_tenant_inner_link', data: { 'toggle': 'modal',
                                                                                     'target': '#exampleModalCenterOne' } %>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenterOne" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterOneTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content custom_modal_size">
          <div class="close_icon_container">
            <%= image_tag 'properties/close_property_modal.svg', data: { 'dismiss': 'modal' }, aria: { 'label': 'Close' }, class: 'close_modal_icon pull-right', width: '30' %>
          </div>
          <div class="modal-body">
            <div class="modal_body_container">
              <span class="edit_modal_tenant">Edit Tenant</span>
              <div class="my-5">
                <form>
                  <!-- Tenant Name -->
                  <div class="form-group">
                    <label for="TenantName" class="normal_font"><span class="setting_label">Tenant Name</span></label>
                    <input
                      type="text"
                      id="TenantName"
                      name=""
                      value=""
                      class="form-control form-control-lg input-45"
                    >
                  </div>
                  <!-- Tenant Phone -->
                  <div class="form-group">
                    <label for="TenantPhone" class="normal_font"><span class="setting_label">Tenant Phone</span></label>
                    <input
                      type="text"
                      id="TenantPhone"
                      name=""
                      value=""
                      class="form-control form-control-lg input-45"
                    >
                  </div>
                  <!-- Tenant Email -->
                  <div class="form-group">
                    <label for="TenantEmail" class="normal_font"><span class="setting_label">Tenant Email</span></label>
                    <input
                      type="email"
                      id="TenantEmail"
                      name=""
                      value=""
                      class="form-control form-control-lg input-45"
                    >
                  </div>
                  <!-- Start & End Date -->
                  <div class="row">
                    <div class="col-md-12">
                      <div class="col-md-6 pl-0">
                        <!-- Lease Start Date -->
                        <div class="form-group">
                          <label for="TenantLSD" class="normal_font"><span class="setting_label">Lease Start Date</span></label>
                          <input
                            type="date"
                            id="TenantLSD"
                            name=""
                            value=""
                            class="form-control form-control-lg input-45"
                          >
                        </div>
                      </div>
                      <div class="col-md-6 pr-0">
                        <!-- Lease End Date -->
                        <div class="form-group">
                          <label for="TenantLED" class="normal_font"><span class="setting_label">Lease End Date</span></label>
                          <input
                            type="date"
                            id="TenantLED"
                            name=""
                            value=""
                            class="form-control form-control-lg input-45"
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
                <!-- Save & Cancel Buttons -->
                <div class="d-flex justify-content-start">
                  <button type="button" class="save_tenant_info">Save & Update</button>
                  <button type="button" class="cancel_personal_info ml-3" data-dismiss="modal">Cancel</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="card">
      <div class="card-header_header" id="headingTwo">
        <h5 class="mb-0">
          <div class="d-flex justify-content-between">
            <div>
              <a class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Rashed Ka.
              </a>
            </div>
            <div class="p-2">
              <%= image_tag 'properties/edit_tenant.svg',
                            data: { 'toggle': "collapse", 'target': '#collapseTwo' },
                            aria: { 'expanded': 'true', 'controls': 'collapseTwo' },
                            class: 'btn btn-link' %>
            </div>
          </div>
        </h5>
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
        <div class="card-body">
          <div class="container p-5 mb-5 col-12 new_tenant_container_rectangle">
            <!-- Tenant Name -->
            <div class="form-group">
              <label for="TenantName" class="normal_font"><span class="setting_label">Tenant Name</span></label>
              <input
                type="text"
                id="TenantName"
                name=""
                value=""
                class="form-control form-control-lg input-45"
                placeholder="Enter Full Name"
                disabled
              >
            </div>

            <!-- Tenant Phone -->
            <div class="row">
              <div class="col-md-12">
                <div class="col-md-6 pl-0">
                  <div class="form-group">
                    <label for="TenantPhone" class="normal_font"><span class="setting_label">Tenant Phone</span></label>
                    <input
                      type="text"
                      id="TenantPhone"
                      name=""
                      value=""
                      class="form-control form-control-lg input-45"
                      placeholder="Enter Full Name"
                      disabled
                    >
                  </div>
                </div>
                <!-- Tenant Email -->
                <div class="col-md-6 pr-0">
                  <div class="form-group">
                    <label for="TenantEmail" class="normal_font"><span class="setting_label">Tenant Email</span></label>
                    <input
                      type="email"
                      id="TenantEmail"
                      name=""
                      value=""
                      class="form-control form-control-lg input-45"
                      placeholder="Enter Email Address"
                      disabled
                    >
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <!-- Lease Start Date -->
                <div class="col-md-6 pl-0">
                  <div class="form-group">
                    <label for="LeaseStartDate" class="normal_font"><span class="setting_label">Lease Start Date</span></label>
                    <input
                      type="date"
                      id="LeaseStartDate"
                      name=""
                      value=""
                      class="form-control form-control-lg input-45"
                      placeholder="Enter Full Name"
                      disabled
                    >
                  </div>
                </div>
                <!-- Lease End Date -->
                <div class="col-md-6 pr-0">
                  <div class="form-group">
                    <label for="LeaseEndDate" class="normal_font"><span class="setting_label">Lease End Date</span></label>
                    <input
                      type="date"
                      id="LeaseEndDate"
                      name=""
                      value=""
                      class="form-control form-control-lg input-45"
                      placeholder="Enter Email Address"
                      disabled
                    >
                  </div>
                </div>
              </div>
            </div>

            <%= link_to 'Edit Tenant', '#', class: 'edit_tenant_inner_link', data: { 'toggle': 'modal',
                                                                                     'target': '#exampleModalCenterTwo' } %>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenterTwo" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTwoTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content custom_modal_size">
          <div class="close_icon_container">
            <%= image_tag 'properties/close_property_modal.svg', data: { 'dismiss': 'modal' }, aria: { 'label': 'Close' }, class: 'close_modal_icon pull-right', width: '30' %>
          </div>
          <div class="modal-body">
            <div class="modal_body_container">
              <span class="edit_modal_tenant">Edit Tenant</span>
              <div class="my-5">
                <form>
                  <!-- Tenant Name -->
                  <div class="form-group">
                    <label for="TenantName" class="normal_font"><span class="setting_label">Tenant Name</span></label>
                    <input
                      type="text"
                      id="TenantName"
                      name=""
                      value=""
                      class="form-control form-control-lg input-45"
                    >
                  </div>
                  <!-- Tenant Phone -->
                  <div class="form-group">
                    <label for="TenantPhone" class="normal_font"><span class="setting_label">Tenant Phone</span></label>
                    <input
                      type="text"
                      id="TenantPhone"
                      name=""
                      value=""
                      class="form-control form-control-lg input-45"
                    >
                  </div>
                  <!-- Tenant Email -->
                  <div class="form-group">
                    <label for="TenantEmail" class="normal_font"><span class="setting_label">Tenant Email</span></label>
                    <input
                      type="email"
                      id="TenantEmail"
                      name=""
                      value=""
                      class="form-control form-control-lg input-45"
                    >
                  </div>
                  <!-- Start & End Date -->
                  <div class="row">
                    <div class="col-md-12">
                      <div class="col-md-6 pl-0">
                        <!-- Lease Start Date -->
                        <div class="form-group">
                          <label for="TenantLSD" class="normal_font"><span class="setting_label">Lease Start Date</span></label>
                          <input
                            type="date"
                            id="TenantLSD"
                            name=""
                            value=""
                            class="form-control form-control-lg input-45"
                          >
                        </div>
                      </div>
                      <div class="col-md-6 pr-0">
                        <!-- Lease End Date -->
                        <div class="form-group">
                          <label for="TenantLED" class="normal_font"><span class="setting_label">Lease End Date</span></label>
                          <input
                            type="date"
                            id="TenantLED"
                            name=""
                            value=""
                            class="form-control form-control-lg input-45"
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
                <!-- Save & Cancel Buttons -->
                <div class="d-flex justify-content-start">
                  <button type="button" class="save_tenant_info">Save & Update</button>
                  <button type="button" class="cancel_personal_info ml-3" data-dismiss="modal">Cancel</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="card">
      <div class="card-header_header" id="headingThree">
        <h5 class="mb-0">
          <div class="d-flex justify-content-between">
            <div>
              <a class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Shophie Harmon
              </a>
            </div>
            <div class="p-2">
              <%= image_tag 'properties/edit_tenant.svg',
                            data: { 'toggle': "collapse", 'target': '#collapseThree' },
                            aria: { 'expanded': 'true', 'controls': 'collapseThree' },
                            class: 'btn btn-link' %>
            </div>
          </div>
        </h5>
      </div>
      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
        <div class="card-body">
          <div class="container p-5 mb-5 col-12 new_tenant_container_rectangle">
            <!-- Tenant Name -->
            <div class="form-group">
              <label for="TenantName" class="normal_font"><span class="setting_label">Tenant Name</span></label>
              <input
                type="text"
                id="TenantName"
                name=""
                value=""
                class="form-control form-control-lg input-45"
                placeholder="Enter Full Name"
                disabled
              >
            </div>

            <div class="row">
              <div class="col-md-12">
                <!-- Tenant Phone -->
                <div class="col-md-6 pl-0">
                  <div class="form-group">
                    <label for="TenantPhone" class="normal_font"><span class="setting_label">Tenant Phone</span></label>
                    <input
                      type="text"
                      id="TenantPhone"
                      name=""
                      value=""
                      class="form-control form-control-lg input-45"
                      placeholder="Enter Full Name"
                      disabled
                    >
                  </div>
                </div>
                <!-- Tenant Email -->
                <div class="col-md-6 pr-0">
                  <div class="form-group">
                    <label for="TenantEmail" class="normal_font"><span class="setting_label">Tenant Email</span></label>
                    <input
                      type="email"
                      id="TenantEmail"
                      name=""
                      value=""
                      class="form-control form-control-lg input-45"
                      placeholder="Enter Email Address"
                      disabled
                    >
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <!-- Lease Start Date -->
                <div class="col-md-6 pl-0">
                  <div class="form-group">
                    <label for="LeaseStartDate" class="normal_font"><span class="setting_label">Lease Start Date</span></label>
                    <input
                      type="date"
                      id="LeaseStartDate"
                      name=""
                      value=""
                      class="form-control form-control-lg input-45"
                      placeholder="Enter Full Name"
                      disabled
                    >
                  </div>
                </div>
                <!-- Lease End Date -->
                <div class="col-md-6 pr-0">
                  <div class="form-group">
                    <label for="LeaseEndDate" class="normal_font"><span class="setting_label">Lease End Date</span></label>
                    <input
                      type="date"
                      id="LeaseEndDate"
                      name=""
                      value=""
                      class="form-control form-control-lg input-45"
                      placeholder="Enter Email Address"
                      disabled
                    >
                  </div>
                </div>
              </div>
            </div>

            <%= link_to 'Edit Tenant', '#', class: 'edit_tenant_inner_link', data: { 'toggle': 'modal',
                                                                                     'target': '#exampleModalCenterThree' } %>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenterThree" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterThreeTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content custom_modal_size">
          <div class="close_icon_container">
            <%= image_tag 'properties/close_property_modal.svg', data: { 'dismiss': 'modal' }, aria: { 'label': 'Close' }, class: 'close_modal_icon pull-right', width: '30' %>
          </div>
          <div class="modal-body">
            <div class="modal_body_container">
              <span class="edit_modal_tenant">Edit Tenant</span>
              <div class="my-5">
                <form>
                  <!-- Tenant Name -->
                  <div class="form-group">
                    <label for="TenantName" class="normal_font"><span class="setting_label">Tenant Name</span></label>
                    <input
                      type="text"
                      id="TenantName"
                      name=""
                      value=""
                      class="form-control form-control-lg input-45"
                    >
                  </div>
                  <!-- Tenant Phone -->
                  <div class="form-group">
                    <label for="TenantPhone" class="normal_font"><span class="setting_label">Tenant Phone</span></label>
                    <input
                      type="text"
                      id="TenantPhone"
                      name=""
                      value=""
                      class="form-control form-control-lg input-45"
                    >
                  </div>
                  <!-- Tenant Email -->
                  <div class="form-group">
                    <label for="TenantEmail" class="normal_font"><span class="setting_label">Tenant Email</span></label>
                    <input
                      type="email"
                      id="TenantEmail"
                      name=""
                      value=""
                      class="form-control form-control-lg input-45"
                    >
                  </div>
                  <!-- Start & End Date -->
                  <div class="row">
                    <div class="col-md-12">
                      <div class="col-md-6 pl-0">
                        <!-- Lease Start Date -->
                        <div class="form-group">
                          <label for="TenantLSD" class="normal_font"><span class="setting_label">Lease Start Date</span></label>
                          <input
                            type="date"
                            id="TenantLSD"
                            name=""
                            value=""
                            class="form-control form-control-lg input-45"
                          >
                        </div>
                      </div>
                      <div class="col-md-6 pr-0">
                        <!-- Lease End Date -->
                        <div class="form-group">
                          <label for="TenantLED" class="normal_font"><span class="setting_label">Lease End Date</span></label>
                          <input
                            type="date"
                            id="TenantLED"
                            name=""
                            value=""
                            class="form-control form-control-lg input-45"
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
                <!-- Save & Cancel Buttons -->
                <div class="d-flex justify-content-start">
                  <button type="button" class="save_tenant_info">Save & Update</button>
                  <button type="button" class="cancel_personal_info ml-3" data-dismiss="modal">Cancel</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="card">
      <div class="card-header_header" id="headingFour">
        <h5 class="mb-0">
          <div class="d-flex justify-content-between">
            <div>
              <a class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                <span class="new_tenant_form_text">Add New Tenant</span>
              </a>
            </div>
            <div class="p-2">
              <%= image_tag 'properties/add_new_tenant_icon.svg',
                            data: { 'toggle': "collapse", 'target': '#collapseFour' },
                            aria: { 'expanded': 'true', 'controls': 'collapseFour' },
                            class: 'btn btn-link' %>
            </div>
          </div>
        </h5>
      </div>
      <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
        <div class="card-body">
          <div class="container p-5 mb-5 col-12 new_tenant_container_rectangle">
            <!-- Tenant Name -->
            <div class="form-group">
              <label for="TenantName" class="normal_font"><span class="setting_label">Tenant Name</span></label>
              <input
                type="text"
                id="TenantName"
                name=""
                value=""
                class="form-control form-control-lg input-45"
                placeholder="Enter Full Name"
              >
            </div>

            <div class="row">
              <div class="col-md-12">
                <!-- Tenant Phone -->
                <div class="col-md-6 pl-0">
                  <div class="form-group">
                    <label for="TenantPhone" class="normal_font"><span class="setting_label">Tenant Phone</span></label>
                    <input
                      type="text"
                      id="TenantPhone"
                      name=""
                      value=""
                      class="form-control form-control-lg input-45"
                      placeholder="Enter Full Name"
                    >
                  </div>
                </div>
                <!-- Tenant Email -->
                <div class="col-md-6 pr-0">
                  <div class="form-group">
                    <label for="TenantEmail" class="normal_font"><span class="setting_label">Tenant Email</span></label>
                    <input
                      type="email"
                      id="TenantEmail"
                      name=""
                      value=""
                      class="form-control form-control-lg input-45"
                      placeholder="Enter Email Address"
                    >
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <!-- Lease Start Date -->
                <div class="col-md-6 pl-0">
                  <div class="form-group">
                    <label for="LeaseStartDate" class="normal_font"><span class="setting_label">Lease Start Date</span></label>
                    <input
                      type="date"
                      id="LeaseStartDate"
                      name=""
                      value=""
                      class="form-control form-control-lg input-45"
                      placeholder="Enter Full Name"
                    >
                  </div>
                </div>
                <!-- Lease End Date -->
                <div class="col-md-6 pr-0">
                  <div class="form-group">
                    <label for="LeaseEndDate" class="normal_font"><span class="setting_label">Lease End Date</span></label>
                    <input
                      type="date"
                      id="LeaseEndDate"
                      name=""
                      value=""
                      class="form-control form-control-lg input-45"
                      placeholder="Enter Email Address"
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>