<div class="mt-4">
  <span class="radio-label bold">Will the property address also be used for notices sent to the tenant?</span><br>
  <label class="radio-inline" for="EAPAY">
    <input type="radio" class="asked-for-property" id="EAPAY" name="Eproperty[AskPropertyAddress]" value="true" <%= 'checked' if @property.property_for_notice %>><span class="ml-1">Yes</span>
  </label>
  <label class="radio-inline" for="EAPAN">
    <input type="radio" class="asked-for-property" id="EAPAN" name="Eproperty[AskPropertyAddress]" value="false" <%= 'checked' unless @property.property_for_notice %>><span class="ml-1">No</span>
  </label><br>
</div>

<div class="mt-4 <%= 'display_none' if @property.property_for_notice %>" id="EditTenantNoticeSection">

  <div class="form-group">
    <label for="EpropertyTSAL1" class="bold">Tenant Notice Address Street Line 1*</label>
    <input
      type="text"
      id="EpropertyTSAL1"
      name="Eproperty[TSAL1]"
      placeholder="Your Address"
      class="form-control form-control-lg input-45"
      value="<%= check_for(@property.tenant_notice_street_line_one) %>"
    >
  </div>

  <div class="form-group">
    <label for="EpropertyTSAL2" class="bold">Tenant Notice Address Street Line 2</label>
    <input
      type="text"
      id="EpropertyTSAL2"
      name="Eproperty[TSAL2]"
      placeholder="Your Address"
      class="form-control form-control-lg input-45"
      value="<%= check_for(@property.tenant_notice_street_line_two) %>"
    >
  </div>

  <div class="row">

    <div class="col">
      <div class="form-group">
        <label for="EpropertyTNPostalCode" class="bold">Postal Code*</label>
        <input
          type="text"
          placeholder="Zip Code"
          id="EpropertyTNPostalCode"
          name="Eproperty[TNPostalCode]"
          data-from="update_property_tenant"
          class="form-control form-control-lg input-45 zipcode_interactive"
          value="<%= check_for(@property.tenant_notice_postal_code) %>"
        >
        <span id="updateZipErrTN" class="error"></span>
      </div>
    </div>

    <div class="col">
      <div class="form-group">
        <label for="EpropertyTNCity" class="bold">City*</label>
        <input
          disabled
          type="text"
          id="EpropertyTNCity"
          placeholder="City"
          name="Eproperty[TNCity]"
          class="form-control form-control-lg input-45"
          value="<%= check_for(@property.tenant_notice_city) %>"
        >
      </div>
    </div>

    <div class="col">
      <div class="form-group">
        <label for="EpropertyTNState" class="bold">State*</label>
        <input
          disabled
          type="text"
          id="EpropertyTNState"
          placeholder="State"
          name="Eproperty[TNState]"
          class="form-control form-control-lg input-45"
          value="<%= check_for(@property.tenant_notice_state) %>"
        >
      </div>
    </div>

  </div>

</div>