<div class="d-flex justify-content-around doc_status">

  <a href="#2">
    <%= image_tag 'documents/downlaod_icon.svg' %>
  </a>

  <a href="#1">
    <%= image_tag 'documents/edit_icon.svg' %>
  </a>

  <!-- Dropdown Link -->
  <div class="dropdown">
    <a type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <%= image_tag 'documents/more.svg' %>
    </a>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="#">
        <div class="d-flex justify-content-start">
          <%= image_tag 'documents/view_icon.svg', class: 'm-0' %>
          <span class="ml-2">View</span>
        </div>
      </a>
      <a class="dropdown-item" href="#">
        <div class="d-flex justify-content-start">
          <%= image_tag 'documents/print_icon.svg', class: 'm-0' %>
          <span class="ml-2">Print</span>
        </div>
      </a>
      <a class="dropdown-item" href="#">
        <div class="d-flex justify-content-start">
          <%= image_tag 'documents/share_icon.svg', class: 'm-0' %>
          <span class="ml-2">Share</span>
        </div>
      </a>
      <a class="dropdown-item" href="#">
        <div class="d-flex justify-content-start">
          <%= image_tag 'documents/rename_icon.svg', class: 'm-0' %>
          <span class="ml-2">Rename</span>
        </div>
      </a>
      <a class="dropdown-item" href="#">
        <div class="d-flex justify-content-start">
          <%= image_tag 'documents/delete_icon.svg', class: 'm-0' %>
          <span class="ml-2">Delete</span>
        </div>
      </a>
    </div>
  </div>

</div>