<% 4.times do |index| %>
  <div class="card <%= 'mt-3' if index > 0 %>">
    <div class="card-body">
      <div class="row">
        <div class="col-md-12">

          <div class="col-md-2">
            <%= visitor_card_image(index) %>
          </div>

          <div class="col-md-7">
            <h3><b><%= visitor_card_heading(index) %></b></h3>
            <span class="pull-left font-15 opacity-0-6">
              <%= visitor_card_description(index) %>
            </span>
          </div>

          <div class="col-md-3">
            <%= visitor_card_arrow(index) %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
