<% 3.times do |index| %>
  <div class="row mb-4">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <div class="d-flex justify-content-between">

            <!-- Property Home Image -->
            <div>
              <%= show_home_image(index) %>
            </div>

            <!-- DropDown Menu -->
            <div class="dropdown">
              <a type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <%= image_tag 'global_images/more.svg', width: '20' %>
              </a>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" id="CustomMobileMenu">
                <a class="dropdown-item" href="<%= edit_property_path(1) %>">
                  <div class="d-flex justify-content-start">
                    <%= image_tag 'properties/edit_svg.svg', class: 'm-0', width: '15' %>
                    <span class="ml-2">Edit</span>
                  </div>
                </a>
                <a class="dropdown-item" href="#">
                  <div class="d-flex justify-content-start">
                    <%= image_tag 'properties/delete_icon.svg', class: 'm-0', width: '15' %>
                    <span class="ml-2">Delete</span>
                  </div>
                </a>
              </div>
            </div>
          </div>
          <!-- Property Name -->
          <h3 class="name bold property-nam-mob"><%= show_property_name(index) %></h3>

          <hr>
          <!-- Card Footer -->
          <div class="d-flex justify-content-between">

            <!-- Tenant Label -->
            <div>
              <span class="opacity-0-5">Tenant: </span><span class="bold"><%= show_tenant_name(index) %></span>
            </div>

            <!-- Tenant Name -->
            <div>
              <%= image_tag 'properties/property_go_active_arrow.svg', width: '20' %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-6" id="MyPropertyCardMargin">
      <div class="card">
        <div class="card-body">
          <div class="d-flex justify-content-between">

            <!-- Property Home Image -->
            <div>
              <%= show_home_image(index) %>
            </div>

            <!-- DropDown Menu -->
            <div class="dropdown">
              <a type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <%= image_tag 'global_images/more.svg', width: '20' %>
              </a>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" id="CustomMobileMenu">
                <a class="dropdown-item" href="<%= edit_property_path(1) %>">
                  <div class="d-flex justify-content-start">
                    <%= image_tag 'properties/edit_svg.svg', class: 'm-0', width: '15' %>
                    <span class="ml-2">Edit</span>
                  </div>
                </a>
                <a class="dropdown-item" href="#">
                  <div class="d-flex justify-content-start">
                    <%= image_tag 'properties/delete_icon.svg', class: 'm-0', width: '15' %>
                    <span class="ml-2">Delete</span>
                  </div>
                </a>
              </div>
            </div>
          </div>
          <!-- Property Name -->
          <h3 class="name bold property-nam-mob"><%= show_property_name(index) %></h3>

          <hr>

          <!-- Card Footer -->
          <div class="d-flex justify-content-between">

            <!-- Tenant Label -->
            <div>
              <span class="opacity-0-5">Tenant: </span><span class="bold"><%= show_tenant_name(index) %></span>
            </div>

            <!-- Tenant Name -->
            <div>
              <%= image_tag 'properties/property_go_active_arrow.svg', width: '20' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
