<% if User.count.even? %>
  <div class="card mt-3">
    <div class="card-header" id="propertyTenantOne">
      <div class="d-flex justify-content-between">
        <div>
          <%= link_to 'Add New Tenant', nil,
                      class: 'btn btn-link collapsed mt-2 bold',
                      data: { toggle: 'collapse', target: '#propertyCollapseOne' },
                      aria: { expanded: 'false', controls: 'propertyCollapseOne' }

          %>
        </div>
        <div>
          <%= image_tag 'properties/add_new_tenant_icon.svg',
                        class: 'btn btn-link',
                        data: { 'toggle': "collapse", 'target': '#propertyCollapseOne' },
                        aria: { 'expanded': 'true', 'controls': 'propertyCollapseOne' }
          %>
        </div>
      </div>
    </div>

    <div id="propertyCollapseOne" class="collapse" aria-labelledby="propertyTenantOne" data-parent="#accordion">
      <div class="card-body">
        <div class="container p-3 col-12">

          <!-- Tenant Name -->
          <div class="form-group">
            <label for="propertyNewTenantName">Tenant Name</label>
            <input
              type="text"
              id="propertyNewTenantName"
              placeholder="Enter Full Name"
              name="property[NewTenantName]"
              class="form-control form-control-lg input-45"
            >
          </div>

          <!-- Tenant Phone & Email -->
          <div class="row">
            <div class="col-md-12">
              <div class="col-md-6 pl-0">
                <!-- Phone -->
                <div class="form-group">
                  <label for="propertyNewTenantPhone">Tenant Phone</label>
                  <input
                    type="text"
                    id="propertyNewTenantPhone"
                    placeholder="Enter Full Name"
                    name="property[NewTenantPhone]"
                    class="form-control form-control-lg input-45"
                  >
                </div>
              </div>
              <!-- Email -->
              <div class="col-md-6 pr-0">
                <div class="form-group">
                  <label for="propertyNewTenantEmail">Tenant Email</label>
                  <input
                    type="email"
                    id="propertyNewTenantEmail"
                    name="property[NewTenantEmail]"
                    placeholder="Enter Email Address"
                    class="form-control form-control-lg input-45"
                  >
                </div>
              </div>
            </div>
          </div>

          <!-- Lease Start & End Date -->
          <div class="row">
            <div class="col-md-12">
              <!-- Start Date -->
              <div class="col-md-6 pl-0">
                <div class="form-group">
                  <label for="propertyNewLeaseStartDate">Lease Start Date</label>
                  <input
                    type="date"
                    placeholder="Enter Full Name"
                    id="propertyNewLeaseStartDate"
                    name="property[NewLeaseStartDate]"
                    class="form-control form-control-lg input-45"
                  >
                </div>
              </div>
              <!-- End Date -->
              <div class="col-md-6 pr-0">
                <div class="form-group">
                  <label for="propertyNewLeaseEndDate">Lease End Date</label>
                  <input
                    type="date"
                    id="propertyNewLeaseEndDate"
                    name="property[NewLeaseEndDate]"
                    placeholder="Enter Email Address"
                    class="form-control form-control-lg input-45"
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% else %>
  <div class="mt-3">
    <div id="accordion">

      <% 3.times do |index| %>

        <!-- Line Item -->
        <div class="card">

          <div class="card-header" id="heading<%= index %>">
            <div class="d-flex justify-content-between">
              <div>
                <%= link_to 'Jonathan Cooper',
                            nil,
                            class: 'btn btn-link mt-2',
                            aria: { expanded: 'true', controls: "collapse#{index}" },
                            data: { toggle: 'collapse', target: "#collapse#{index}" }
                %>
              </div>
              <div>
                <%= image_tag 'properties/edit_tenant.svg',
                              class: 'btn btn-link',
                              aria: { 'expanded': 'true', 'controls': "collapse#{index}" },
                              data: { 'toggle': "collapse", 'target': "#collapse#{index}" }
                %>
              </div>
            </div>
          </div>

          <div id="collapse<%= index %>" class="collapse" aria-labelledby="heading<%= index %>" data-parent="#accordion">
            <div class="card-body">
              <div class="container p-5 col-12">

                <!-- Tenant Name -->
                <div class="form-group">
                  <label for="propertyTenantNameRO">Tenant Name</label>
                  <input
                    disabled
                    type="text"
                    id="propertyTenantNameRO"
                    placeholder="Enter Full Name"
                    class="form-control form-control-lg input-45"
                  >
                </div>

                <!-- Tenant Phone & Email -->
                <div class="row">
                  <div class="col-md-12">
                    <!-- Phone -->
                    <div class="col-md-6 pl-0">
                      <div class="form-group">
                        <label for="propertyTenantPhoneRO">Tenant Phone</label>
                        <input
                          disabled
                          type="text"
                          id="propertyTenantPhoneRO"
                          placeholder="Enter Full Name"
                          class="form-control form-control-lg input-45"
                        >
                      </div>
                    </div>
                    <!-- Email -->
                    <div class="col-md-6 pr-0">
                      <div class="form-group">
                        <label for="propertyTenantEmailRO">Tenant Email</label>
                        <input
                          disabled
                          type="email"
                          id="propertyTenantEmailRO"
                          placeholder="Enter Email Address"
                          class="form-control form-control-lg input-45"
                        >
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Lease Start & End Date -->
                <div class="row">
                  <div class="col-md-12">
                    <!-- Start Date -->
                    <div class="col-md-6 pl-0">
                      <div class="form-group">
                        <label for="propertyLeaseStartDateRO">Lease Start Date</label>
                        <input
                          disabled
                          type="date"
                          id="propertyLeaseStartDateRO"
                          placeholder="Enter Full Name"
                          class="form-control form-control-lg input-45"
                        >
                      </div>
                    </div>
                    <!-- End Date -->
                    <div class="col-md-6 pr-0">
                      <div class="form-group">
                        <label for="propertyLeaseEndDateRO">Lease End Date</label>
                        <input
                          disabled
                          type="date"
                          id="propertyLeaseEndDateRO"
                          placeholder="Enter Email Address"
                          class="form-control form-control-lg input-45"
                        >
                      </div>
                    </div>
                  </div>
                </div>

                <%= link_to 'Edit Tenant',
                            '#',
                            class: 'edit',
                            data: { 'toggle': 'modal', 'target': "#exampleModalCenter#{index}" }
                %>
              </div>
            </div>
          </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="exampleModalCenter<%= index %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenter<%= index %>Title" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content edit-tenant-modal">
              <div class="close">
                <%= image_tag 'properties/close_property_modal.svg',
                              aria: { 'label': 'Close' },
                              data: { 'dismiss': 'modal' },
                              class: 'close_modal_icon pull-right', width: '30'
                %>
              </div>
              <div class="modal-body">
                <div class="body">
                  <span class="heading bold">Edit Tenant</span>

                  <div class="my-5">
                    <form>

                      <!-- Tenant Name -->
                      <div class="form-group">
                        <label for="propertyEditTenantName">Tenant Name</label>
                        <input
                          type="text"
                          id="propertyEditTenantName"
                          name="property[EditTenantName]"
                          class="form-control form-control-lg input-45"
                        >
                      </div>

                      <!-- Tenant Phone -->
                      <div class="form-group">
                        <label for="propertyEditTenantPhone">Tenant Phone</label>
                        <input
                          type="text"
                          id="propertyEditTenantPhone"
                          name="property[EditTenantPhone]"
                          class="form-control form-control-lg input-45"
                        >
                      </div>

                      <!-- Tenant Email -->
                      <div class="form-group">
                        <label for="propertyEditTenantEmail">Tenant Email</label>
                        <input
                          type="email"
                          id="propertyEditTenantEmail"
                          name="property[EditTenantEmail]"
                          class="form-control form-control-lg input-45"
                        >
                      </div>

                      <!-- Lease Start & End Date -->
                      <div class="row">
                        <div class="col-md-12">
                          <!-- Start Date -->
                          <div class="col-md-6 pl-0">
                            <div class="form-group">
                              <label for="propertyEditTenantLSD">Lease Start Date</label>
                              <input
                                type="date"
                                id="propertyEditTenantLSD"
                                name="property[EditTenantLSD]"
                                class="form-control form-control-lg input-45"
                              >
                            </div>
                          </div>

                          <!-- End Date -->
                          <div class="col-md-6 pr-0">
                            <div class="form-group">
                              <label for="propertyEditTenantLED">Lease End Date</label>
                              <input
                                type="date"
                                id="propertyEditTenantLED"
                                name="property[EditTenantLED]"
                                class="form-control form-control-lg input-45"
                              >
                            </div>
                          </div>
                        </div>
                      </div>

                      <!-- Save & Cancel Buttons -->
                      <div class="d-flex justify-content-start">
                        <button type="button" class="create-button">Save & Update</button>
                        <button type="button" class="cancel-button ml-3" data-dismiss="modal">Cancel</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>

    </div>
  </div>
<% end %>

