<form name="property_form" class="new-property-form">
  <input type="hidden" value="<%= current_user.id %>" id="PropertyUserID">

  <!-- Property Type Dropdown -->
  <div class="form-group">
    <label for="propertyPropertyType">Property Type*</label>
    <%= select_tag 'property[property_type]',
                   options_for_select(Property.property_types.keys.map { |type| [type] }, selected: property.property_type),
                   id: 'propertyPropertyType',
                   class: 'form-control form-control-lg input-45'

    %>
  </div>

  <!-- Street Address Line 1 -->
  <div class="form-group">
    <label for="propertySAL1">Street Address Line 1*</label>
    <input
      type="text"
      id="propertySAL1"
      name="property[SAL1]"
      placeholder="You Address"
      class="form-control form-control-lg input-45"
      value="<%= check_for(property.address_line_one) %>"
    >
  </div>

  <!-- Street Address Line 2 -->
  <div class="form-group">
    <label for="propertySAL2">Street Address Line 2</label>
    <input
      type="text"
      id="propertySAL2"
      name="property[SAL2]"
      placeholder="You Address"
      class="form-control form-control-lg input-45"
      value="<%= check_for(property.address_line_two) %>"
    >
  </div>

  <!-- Postal, City, State -->
  <div class="row">
    <!-- Postal -->
    <div class="col">
      <div class="form-group">
        <label for="propertyPostalCode">Postal Code*</label>
        <input
          type="text"
          placeholder="Zip Code"
          id="propertyPostalCode"
          name="property[PostalCode]"
          class="form-control form-control-lg input-45"
          value="<%= check_for(property.postal_code) %>"
        >
      </div>
    </div>
    <!-- City -->
    <div class="col">
      <div class="form-group">
        <label for="propertyCity">City*</label>
        <input
          disabled
          type="text"
          id="propertyCity"
          placeholder="City"
          name="property[City]"
          value="<%= check_for(property.city) %>"
          class="form-control form-control-lg input-45"
        >
      </div>
    </div>
    <!-- State -->
    <div class="col">
      <div class="form-group">
        <label for="propertyState">State*</label>
        <input
          disabled
          type="text"
          id="propertyState"
          placeholder="State"
          name="property[State]"
          value="<%= check_for(property.state) %>"
          class="form-control form-control-lg input-45"
        >
      </div>
    </div>
  </div>

  <!-- Bed Rooms -->
  <div class="row">
    <!-- Bed Room 1 -->
    <div class="col margin-top-mob">
      <label for="propertyBedroomA">Bedroom</label>
      <%= select_tag('property[BedroomA]',
                     options_for_select(map_bedrooms, selected: property.bed_one),
                     { prompt: "Select Bedroom",
                       id: 'propertyBedroomA',
                       class: 'form-control form-control-lg input-45' })
      %>
    </div>
    <!-- Bed Room 2 -->
    <div class="col margin-top-mob">
      <label for="propertyBedroomB">Bathroom</label>
      <%= select_tag('property[BedroomB]',
                     options_for_select(map_bathrooms, selected: property.bed_two),
                     { prompt: "Select Bathroom",
                       id: 'propertyBedroomB',
                       class: 'form-control form-control-lg input-45' })
      %>
    </div>
  </div>

  <div class="form-check form-check-inline desktop-margin">
    <input type="checkbox" class="form-check-input" id="propertyLandlordInfo" <%= 'checked' if property.saved_landlord %>>
    <label class="form-check-label mt-mob-22" for="propertyLandlordInfo">Same landlord contact info as found in your
      Account Settings?</label>
  </div>

  <!-- Landlord Contact Name -->
  <div class="form-group mt-3">
    <label for="propertyLandlordContactName">Landlord Contact Name*</label>
    <input
      type="text"
      <%= disabled?(property, 'name') %>
      placeholder="Landlord Full Name"
      id="propertyLandlordContactName"
      name="property[LandlordContactName]"
      class="form-control form-control-lg input-45"
      value="<%= check_for(property.landlord_contact_name) %>"
    >
  </div>

  <!-- Landlord Contact Phone -->
  <div class="form-group">
    <label for="propertyLandlordContactPhone">Landlord Contact Phone*</label>
    <input
      type="text"
      <%= disabled?(property, 'phone') %>
      placeholder="Phone Number"
      id="propertyLandlordContactPhone"
      name="property[LandlordContactPhone]"
      class="form-control form-control-lg input-45"
      value="<%= check_for(property.landlord_contact_phone) %>"
      onkeypress="return event.charCode >= 48 && event.charCode <= 57"
      oncopy="return false" oncut="return false" onpaste="return false"
    >
  </div>

  <!-- Landlord Contact Email -->
  <div class="form-group">
    <label for="propertyLandlordContactEmail">Landlord Contact Email*</label>
    <input
      type="email"
      <%= disabled?(property, 'email') %>
      placeholder="Enter Email Address"
      id="propertyLandlordContactEmail"
      name="property[LandlordContactEmail]"
      class="form-control form-control-lg input-45"
      value="<%= check_for(property.landlord_contact_email) %>"
    >
  </div>

  <!-- Radio Buttons -->
  <span class="radio-label bold">Currently Leased?</span>
  <label class="radio-inline" for="CLY">
    <input type="radio" class="ml-2 currently-leased" id="CLY" name="property[CurrentlyLeased]" value="true" <%= 'checked' if property.currently_leased %>><span class="ml-1">Yes</span>
  </label>
  <label class="radio-inline" for="CLN">
    <input type="radio" class="ml-2 currently-leased" id="CLN" name="property[CurrentlyLeased]" value="false" <%= 'checked' if !property.currently_leased %>><span class="ml-1">No</span>
  </label><br>


  <!-- Add New Tenant -->
  <%= render partial: 'properties/partials/update_tenant_form', locals: { property: @property } %>

  <div class="mt-4">
    <span class="radio-label bold">Will the property address also be used for notices sent to the tenant?</span><br>
    <label class="radio-inline" for="APAY">
      <input type="radio" class="asked-for-property" id="APAY" name="property[AskPropertyAddress]" value="true" <%= 'checked' if property.property_for_notice %>><span class="ml-1">Yes</span>
    </label>
    <label class="radio-inline" for="APAN">
      <input type="radio" class="asked-for-property" id="APAN" name="property[AskPropertyAddress]" value="false" <%= 'checked' if !property.property_for_notice %>><span class="ml-1">No</span>
    </label><br>
  </div>

  <hr>

  <div class="d-flex justify-content-start mb-5">
    <button
      type="submit"
      class="create-button"
      id="UpdatePropertyBtn"
    >
      Save
    </button>
    <button
      type="button"
      class="cancel-button ml-3"
      onclick="window.location.href='<%= properties_path %>'"
    >
      Cancel
    </button>
  </div>

</form>

<%= javascript_include_tag 'properties' %>
