<div class="mt-4 <%= 'display_none' if property.property_for_notice %>" id="EditTenantNoticeSection">

  <!-- Street Address Line 1 -->
  <div class="form-group">
    <label for="EpropertyTSAL1" class="bold">Tenant Notice Address Street Line 1*</label>
    <input
      type="text"
      id="EpropertyTSAL1"
      name="Eproperty[TSAL1]"
      placeholder="Your Address"
      class="form-control form-control-lg input-45"
      value="<%= check_for(property.tenant_notice_street_line_one) %>"
    >
  </div>

  <!-- Street Address Line 2 -->
  <div class="form-group">
    <label for="EpropertyTSAL2" class="bold">Tenant Notice Address Street Line 2</label>
    <input
      type="text"
      id="EpropertyTSAL2"
      name="Eproperty[TSAL2]"
      placeholder="Your Address"
      class="form-control form-control-lg input-45"
      value="<%= check_for(property.tenant_notice_street_line_two) %>"
    >
  </div>

  <!-- Postal, City, State -->
  <div class="row">
    <!-- Postal -->
    <div class="col">
      <div class="form-group">
        <label for="EpropertyTNPostalCode" class="bold">Postal Code*</label>
        <input
          type="text"
          placeholder="Zip Code"
          id="EpropertyTNPostalCode"
          name="Eproperty[TNPostalCode]"
          data-from="update_property_tenant"
          class="form-control form-control-lg input-45 zipcode_interactive"
          value="<%= check_for(property.tenant_notice_postal_code) %>"
        >
        <span id="updateZipErrTN" class="error"></span>
      </div>
    </div>
    <!-- City -->
    <div class="col">
      <div class="form-group">
        <label for="EpropertyTNCity" class="bold">City*</label>
        <input
          disabled
          type="text"
          id="EpropertyTNCity"
          placeholder="City"
          name="Eproperty[TNCity]"
          class="form-control form-control-lg input-45"
          value="<%= check_for(property.tenant_notice_city) %>"
        >
      </div>
    </div>
    <!-- State -->
    <div class="col">
      <div class="form-group">
        <label for="EpropertyTNState" class="bold">State*</label>
        <input
          disabled
          type="text"
          id="EpropertyTNState"
          placeholder="State"
          name="Eproperty[TNState]"
          class="form-control form-control-lg input-45"
          value="<%= check_for(property.tenant_notice_state) %>"
        >
      </div>
    </div>
  </div>

</div>