<div class="billing-rectangle mb-5">

  <!-- Billing Details Heading -->
  <div class="row">
    <div class="col-md-12 p-0 mt-3">
      <div class="col-md-6">
        <span class="heading bold pull-left">Billing Details</span>
      </div>
    </div>
  </div>

  <!-- Billing Details Cards -->
  <div class="mt-3">
    <div class="row">
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">

            <div class="d-flex justify-content-between">
              <!-- Brand Image-->
              <div class="brand-container">
                <%= image_tag 'account_settings/master_card_logo.svg', class: ' pull-left mt-1', width: '30' %>
                <br>
              </div>
              <!-- Options -->
              <div class="dropdown">
                <a type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <%= image_tag 'global_images/more.svg', width: '20' %>
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" id="BillingDetailDropdown">
                  <% if current_user.payment_detail.present? %>
                    <a class="dropdown-item" href="<%= payment_details_path %>">
                      <div class="d-flex justify-content-start">
                        <%= image_tag 'account_settings/edit_svg.svg', class: 'm-0', width: '15' %>
                        <span class="ml-2">Edit</span>
                      </div>
                    </a>
                    <a class="dropdown-item" id="DeleteBillingDetails" data-user-id="<%= current_user.id %>">
                      <div class="d-flex justify-content-start">
                        <%= image_tag 'account_settings/delete_icon.svg', class: 'm-0', width: '15' %>
                        <span class="ml-2">Delete</span>
                      </div>
                    </a>
                  <% else %>
                    <a class="dropdown-item" href="<%= payment_details_path(from: 'new') %>">
                      <div class="d-flex justify-content-start">
                        <%= image_tag 'account_settings/edit_svg.svg', class: 'm-0', width: '15' %>
                        <span class="ml-2">Add</span>
                      </div>
                    </a>
                  <% end %>
                </div>
              </div>
            </div>
            <!-- Card Number -->
            <span class="number"><%= card_number(current_user) %></span><br>
            <span class="expiry opacity-0-75"><%= expiry_date(current_user) %></span><br>
            <span class="expiry opacity-0-75"><%= billing_address(current_user) %></span><br>
            <div class="mt-4">
              <span class="last-used bold">LAST USED 11/04/2021</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- ErrorAlert -->
  <div class="d-flex justify-content-start error_alert_container display_none mt-5">
    <div class="error_alert display_none mb-4" id="BillingDetailNotice"></div>
  </div>

</div>
