<div class="personal-info-rectangle">

  <!-- Personal Information -->
  <span class="heading bold">Personal Information</span>

  <!-- Personal Information Form -->
  <form name="personal_info" class="mt-4">

    <!-- First Name -->

    <div class="form-group">
      <label for="accountSettingFirstName">First Name</label>
      <div class="fake-input">
        <input
          type="text"
          id="accountSettingFirstName"
          value="<%= user_name.first %>"
          name="account[SettingFirstName]"
          class="form-control form-control-lg input-45"
        >
        <%= image_tag 'account_settings/acc_setting_edit_icon.svg', width: '20', id: 'FirstNameEdit' %>
      </div>
    </div>

    <!-- Last Name -->
    <div class="form-group">
      <label for="accountSettingLastName">Last Name</label>
      <div class="fake-input">
        <input
          type="text"
          id="accountSettingLastName"
          value="<%= user_name.last %>"
          name="accountSetting[LastName]"
          class="form-control form-control-lg input-45"
        >
        <%= image_tag 'account_settings/acc_setting_edit_icon.svg', width: '20' %>
      </div>
    </div>

    <!-- Company Name -->
    <div class="form-group">
      <label for="accountSettingCompanyName">Company Name</label>
      <div class="fake-input">
        <input
          type="text"
          id="accountSettingCompanyName"
          value=""
          name="accountSetting[CompanyName]"
          class="form-control form-control-lg input-45"
        >
        <%= image_tag 'account_settings/acc_setting_edit_icon.svg', width: '20' %>
      </div>
    </div>

    <!-- Email -->
    <div class="form-group">
      <label for="accountSettingEmail">Email</label>
      <input
        readonly
        type="email"
        id="accountSettingEmail"
        value="<%= current_user.email %>"
        class="form-control form-control-lg input-45"
      >
      <span class="instruction opacity-0-5">Email address cannot be changed</span>
    </div>

    <!-- Phone Number -->
    <div class="form-group">
      <label for="accountSettingPhoneNumber">Phone Number</label>
      <div class="fake-input">
        <input
          type="text"
          id="accountSettingPhoneNumber"
          value=""
          name="accountSetting[PhoneNumber]"
          class="form-control form-control-lg input-45"
        >
        <%= image_tag 'account_settings/acc_setting_edit_icon.svg', width: '20' %>
      </div>
    </div>

    <!--    Removed as per doc requirements -->

    <!-- Password -->
    <!--    <div class="form-group">-->
    <!--      <label for="accountSettingPassword">Password</label>-->
    <!--      <input-->
    <!--        type="password"-->
    <!--        id="accountSettingPassword"-->
    <!--        name="accountSetting[Password]"-->
    <!--        class="form-control form-control-lg input-45"-->
    <!--      >-->
    <!--      <span class="instruction opacity-0-5">Want to change the password?</span>-->
    <%#= link_to 'Change Password',
                  change_password_account_setting_path(1),
                  class: 'password-link bold ml-1'
    %>
    <!--    </div>-->

    <!--    Removed as per doc requirements -->

    <div class="my-4">
      <%= link_to 'Change Password',
                  change_password_account_setting_path(1),
                  class: 'password-link bold ml-1'
      %>
    </div>

    <!-- Buttons -->
    <div class="d-flex justify-content-start">
      <button type="button" class="create-button">Save</button>
      <button type="button" class="cancel-button ml-3">Cancel</button>
    </div>

  </form>

</div>

