<div class="personal-info-rectangle">

  <!-- Personal Information -->
  <span class="heading bold">Personal Information</span>

  <!-- Personal Information Form -->
  <form name="personal_info" class="mt-4">
    <input type="hidden" value="<%= current_user.id %>" id="accountSettingUserID">

    <!-- First & Last Name -->
    <div class="row">
      <!-- First Name -->
      <div class="col">
        <div class="form-group">
          <label for="accountSettingFirstName" class="font-normal">First Name*</label>
          <div class="fake-input-edit">
            <input
              type="text"
              id="accountSettingFirstName"
              value="<%= check_for(current_user.first_name) %>"
              name="accountSetting[FirstName]"
              class="form-control form-control-lg input-45"
            >
            <%= image_tag 'account_settings/acc_setting_edit_icon.svg', width: '20', id: 'FirstNameEdit' %>
          </div>
        </div>
      </div>
      <!-- Last Name -->
      <div class="col auto-flex-base">
        <!-- Last Name -->
        <div class="form-group">
          <label for="accountSettingLastName" class="font-normal">Last Name*</label>
          <div class="fake-input-edit">
            <input
              type="text"
              id="accountSettingLastName"
              value="<%= check_for(current_user.last_name) %>"
              name="accountSetting[LastName]"
              class="form-control form-control-lg input-45"
            >
            <%= image_tag 'account_settings/acc_setting_edit_icon.svg', width: '20' %>
          </div>
        </div>
      </div>

    </div>

    <!-- Company Name -->
    <div class="form-group">
      <label for="accountSettingCompanyName" class="font-normal">Company Name (Optional)</label>
      <div class="fake-input-edit">
        <input
          type="text"
          id="accountSettingCompanyName"
          name="accountSetting[CompanyName]"
          value="<%= check_for(current_user.company_name) %>"
          class="form-control form-control-lg input-45"
        >
        <%= image_tag 'account_settings/acc_setting_edit_icon.svg', width: '20' %>
      </div>
    </div>

    <!-- Email -->
    <div class="form-group">
      <label for="accountSettingEmail" class="font-normal">Email</label>
      <input
        readonly
        type="email"
        id="accountSettingEmail"
        value="<%= check_for(current_user.email) %>"
        class="form-control form-control-lg input-45"
      >
      <span class="instruction opacity-0-5">Email address cannot be changed</span>
    </div>

    <!-- Phone Number -->
    <div class="form-group">
      <label for="accountSettingPhoneNumber" class="font-normal">Phone Number*</label>
      <div class="fake-input">
        <input
          type="text"
          id="accountSettingPhoneNumber"
          name="accountSetting[PhoneNumber]"
          value="<%= check_for(current_user.phone_number) %>"
          class="form-control form-control-lg input-45"
          onkeypress="return event.charCode >= 48 && event.charCode <= 57"
        >
        <%= image_tag 'account_settings/acc_setting_edit_icon.svg', width: '20' %>
      </div>
    </div>

    <!-- Address Line 1 -->
    <div class="form-group">
      <label for="accountSettingAddressLine1" class="font-normal"><span class="setting_label">Address Line 1*</span></label>
      <input
        type="text"
        id="accountSettingAddressLine1"
        name="accountSetting[AddressLine1]"
        value="<%= check_for(current_user.address_line_one) %>"
        class="form-control form-control-lg input-45"
      >
    </div>

    <!-- Address Line 2 -->
    <div class="form-group">
      <label for="accountSettingAddressLine2" class="font-normal"><span class="setting_label">Address Line 2*</span></label>
      <input
        type="text"
        id="accountSettingAddressLine2"
        name="accountSetting[AddressLine2]"
        value="<%= check_for(current_user.address_line_two) %>"
        class="form-control form-control-lg input-45"
      >
    </div>

    <!-- Postal Code & City -->
    <div class="row">
      <!-- Postal Code -->
      <div class="col">
        <div class="form-group">
          <label for="accountSettingPostalCode" class="font-normal"><span class="setting_label">Postal Code*</span></label>
          <input
            type="text"
            placeholder="Zip Code"
            id="accountSettingPostalCode"
            name="accountSetting[PostalCode]"
            data-from="account_settings"
            value="<%= check_for(current_user.postal_code) %>"
            class="form-control form-control-lg input-45 zipcode_interactive"
          >
        </div>
      </div>
      <!-- City -->
      <div class="col auto-flex-base">
        <div class="form-group">
          <label for="accountSettingCity" class="font-normal"><span class="setting_label">City*</span></label>
          <input
            disabled
            type="text"
            placeholder="City"
            id="accountSettingCity"
            name="accountSetting[City]"
            value="<%= check_for(current_user.city) %>"
            class="form-control form-control-lg input-45"
          >
        </div>
      </div>
    </div>

    <!-- State & Country -->
    <div class="row">
      <!-- State -->
      <div class="col">
        <div class="form-group">
          <label for="accountSettingState" class="font-normal"><span class="setting_label">State*</span></label>
          <input
            disabled
            type="text"
            placeholder="State"
            id="accountSettingState"
            name="accountSetting[State]"
            value="<%= check_for(current_user.state) %>"
            class="form-control form-control-lg input-45"
          >
        </div>
      </div>
      <!-- Country -->
      <div class="col auto-flex-base">
        <div class="form-group">
          <label for="accountSettingCountry" class="font-normal"><span class="setting_label">Country*</span></label>
          <input
            disabled
            type="text"
            placeholder="Country"
            id="accountSettingCountry"
            name="accountSetting[Country]"
            value="<%= check_for(current_user.country) %>"
            class="form-control form-control-lg input-45"
          >
        </div>
      </div>
    </div>

    <!--    Removed as per doc requirements -->
    <!-- Password -->
    <!--    <div class="form-group">-->
    <!--      <label for="accountSettingPassword">Password</label>-->
    <!--      <input-->
    <!--        type="password"-->
    <!--        id="accountSettingPassword"-->
    <!--        name="accountSetting[Password]"-->
    <!--        class="form-control form-control-lg input-45"-->
    <!--      >-->
    <!--      <span class="instruction opacity-0-5">Want to change the password?</span>-->
    <%#= link_to 'Change Password',
                  change_password_account_setting_path(1),
                  class: 'password-link bold ml-1'
    %>
    <!--    </div>-->
    <!--    Removed as per doc requirements -->

    <!--    Change Password -->

    <div class="my-3">
      <%= link_to 'Change Password',
                  change_password_account_setting_path(1),
                  class: 'password-link bold ml-1',
                  style: 'font-size: 14px;'
      %>
    </div>

    <!-- Buttons -->
    <div class="d-flex justify-content-start">
      <button type="submit" class="create-button" id="SavePersonalInfo">Save</button>
      <button type="button" class="cancel-button ml-3">Cancel</button>
    </div>

    <!-- ErrorAlert -->
    <div class="d-flex justify-content-center error_alert_container mt-2">
      <span class="error_alert text-center display_none"></span>
      <span class="success_alert text-center display_none"></span>
    </div>
  </form>

</div>

<%= javascript_include_tag 'account_settings' %>
