<div class="personal-info-rectangle">

  <!-- Personal Information -->
  <span class="heading bold">Personal Information</span>

  <!-- Personal Information Form -->
  <form name="personal_info" class="mt-4">
    <input type="hidden" value="<%= current_user.id %>" id="accountSettingUserID">

    <!-- First Name -->
    <div class="form-group">
      <label for="accountSettingFirstName" class="font-normal">First Name*</label>
      <div class="fake-input">
        <input
          type="text"
          id="accountSettingFirstName"
          value="<%= current_user.first_name %>"
          name="accountSetting[FirstName]"
          class="form-control form-control-lg input-45"
        >
        <%= image_tag 'account_settings/acc_setting_edit_icon.svg', width: '20', id: 'FirstNameEdit' %>
      </div>
    </div>

    <!-- Last Name -->
    <div class="form-group">
      <label for="accountSettingLastName" class="font-normal">Last Name*</label>
      <div class="fake-input">
        <input
          type="text"
          id="accountSettingLastName"
          value="<%= current_user.last_name %>"
          name="accountSetting[LastName]"
          class="form-control form-control-lg input-45"
        >
        <%= image_tag 'account_settings/acc_setting_edit_icon.svg', width: '20' %>
      </div>
    </div>

    <!-- Company Name -->
    <div class="form-group">
      <label for="accountSettingCompanyName" class="font-normal">Company Name</label>
      <div class="fake-input">
        <input
          type="text"
          id="accountSettingCompanyName"
          name="accountSetting[CompanyName]"
          value="<%= current_user.company_name %>"
          class="form-control form-control-lg input-45"
        >
        <%= image_tag 'account_settings/acc_setting_edit_icon.svg', width: '20' %>
      </div>
    </div>

    <!-- Email -->
    <div class="form-group">
      <label for="accountSettingEmail" class="font-normal">Email</label>
      <input
        readonly
        type="email"
        id="accountSettingEmail"
        value="<%= current_user.email %>"
        class="form-control form-control-lg input-45"
      >
      <span class="instruction opacity-0-5">Email address cannot be changed</span>
    </div>

    <!-- Phone Number -->
    <div class="form-group">
      <label for="accountSettingPhoneNumber" class="font-normal">Phone Number*</label>
      <div class="fake-input">
        <input
          type="text"
          id="accountSettingPhoneNumber"
          name="accountSetting[PhoneNumber]"
          value="<%= current_user.phone_number %>"
          class="form-control form-control-lg input-45"
          onkeypress="return event.charCode >= 48 && event.charCode <= 57"
        >
        <%= image_tag 'account_settings/acc_setting_edit_icon.svg', width: '20' %>
      </div>
    </div>

    <!--    Removed as per doc requirements -->
    <!-- Password -->
    <!--    <div class="form-group">-->
    <!--      <label for="accountSettingPassword">Password</label>-->
    <!--      <input-->
    <!--        type="password"-->
    <!--        id="accountSettingPassword"-->
    <!--        name="accountSetting[Password]"-->
    <!--        class="form-control form-control-lg input-45"-->
    <!--      >-->
    <!--      <span class="instruction opacity-0-5">Want to change the password?</span>-->
    <%#= link_to 'Change Password',
                  change_password_account_setting_path(1),
                  class: 'password-link bold ml-1'
    %>
    <!--    </div>-->
    <!--    Removed as per doc requirements -->

    <!--    Change Password -->
    <div class="my-4">
      <%= link_to 'Change Password',
                  change_password_account_setting_path(1),
                  class: 'password-link bold ml-1',
                  style: 'font-size: 14px;'
      %>
    </div>

    <!-- Buttons -->
    <div class="d-flex justify-content-start">
      <button type="submit" class="create-button" id="SavePersonalInfo">Save</button>
      <button type="button" class="cancel-button ml-3">Cancel</button>
    </div>

    <!-- ErrorAlert -->
    <div class="d-flex justify-content-center error_alert_container display_none">
      <span class="error_alert mt-4 text-center"></span>
    </div>
  </form>

</div>

