<div class="col-2 p-0" style="height: 90vh; background-color: #F8F8F8;">
  <div id="wrapper">
    <!-- Sidebar -->
    <div id="sidebar-wrapper">
      <ul class="sidebar-nav">

        <!--Overview -->
        <li class="<%= 'active_border' if current_page? visitors_path %>">
          <div class="row">
            <div class="col-md-12">
              <a href="<%= visitors_url %>">
                <div class="col-md-3 p-0 mt-2">
                  <img src="<%= current_page?(visitors_url) ? 'active_category.svg' : 'inactive_category.svg' %>" style="width: 25px; height: 25px;">
                </div>
                <div class="col-md-9 p-0">
                  <span class="<%= current? 'active', visitors_url %>">Overview</span></div>
              </a>
            </div>
          </div>
        </li>

        <!-- My Documents -->
        <li class="<%= 'active_border' if current_page? documents_path %>">
          <div class="row">
            <div class="col-md-12">
              <a href="<%= documents_path %>">
                <div class="col-md-3 p-0 mt-2">
                  <img src="<%= current_page?(documents_url) ? 'active_doc.svg' : 'inactive_doc.svg' %>" style="width: 25px; height: 25px;">
                </div>
                <div class="col-md-9 p-0">
                  <span class="<%= current? 'active', documents_path %>">My Documents</span></div>
              </a>
            </div>
          </div>
        </li>

        <!-- Rental Applications -->
        <li class="<%= 'active_border' if current_page? rental_applications_path %>">
          <div class="row">
            <div class="col-md-12">
              <a href="<%= rental_applications_path %>">
                <div class="col-md-3 p-0 mt-2">
                  <img src="<%= current_page?(rental_applications_path) ? 'active_rental_application.svg' : 'inactive_rental_application.svg' %>" style="width: 25px; height: 25px;">
                </div>
                <div class="col-md-9 p-0">
                  <span class="<%= current? 'active', rental_applications_path %>">Rental Applications</span>
                </div>
              </a>
            </div>
          </div>
        </li>

        <!-- My Properties -->
        <li>
          <div class="row">
            <div class="col-md-12">
              <a href="#">
                <div class="col-md-3 p-0 mt-2"><img src="Home.svg" style="width: 25px; height: 25px;"></div>
                <div class="col-md-9 p-0"><span>My Properties</span></div>
              </a>
            </div>
          </div>
        </li>

        <!-- Account Settings -->
        <li class="<%= 'active_border' if current_page? account_settings_path %>">
          <div class="row">
            <div class="col-md-12">
              <a href="<%= account_settings_path %>">
                <div class="col-md-3 p-0 mt-2">
                  <img src="<%= current_page?(account_settings_path) ? 'active_account_setting.svg' : 'inactive_account_setting.svg' %>" style="width: 25px; height: 25px;">
                </div>
                <div class="col-md-9 p-0">
                  <span class="<%= current? 'active', account_settings_path %>">Account Settings</span>
                </div>
              </a>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>