<div class="col-2 p-0 set_sidebar_section">
  <div id="wrapper">
    <!-- Sidebar -->
    <div id="sidebar-wrapper">
      <ul class="sidebar-nav">

        <!--Overview -->
        <li class="<%= 'active_border' if current_page? visitors_path %>">
          <div class="row">
            <div class="col-md-12">
              <a href="<%= visitors_url %>">
                <div class="col-md-3 p-0 mt-2">
                  <%= image_tag current_page?(visitors_url) ? 'sidebar/active_category.svg' : 'sidebar/inactive_category.svg', width: '25' %>
                </div>
                <div class="col-md-9 p-0">
                  <span class="<%= current? 'active', visitors_url %>">Overview</span></div>
              </a>
            </div>
          </div>
        </li>

        <!-- My Documents -->
        <li class="<%= 'active_border' if current_page? documents_path %>">
          <div class="row">
            <div class="col-md-12">
              <a href="<%= documents_path %>">
                <div class="col-md-3 p-0 mt-2">
                  <%= image_tag current_page?(documents_path) ? 'sidebar/active_doc.svg' : 'sidebar/inactive_doc.svg', width: '25' %>
                </div>
                <div class="col-md-9 p-0">
                  <span class="<%= current? 'active', documents_path %>">My Documents</span></div>
              </a>
            </div>
          </div>
        </li>

        <!-- Rental Applications -->
        <li class="<%= 'active_border' if current_page? rental_applications_path %>">
          <div class="row">
            <div class="col-md-12">
              <a href="<%= rental_applications_path %>">
                <div class="col-md-3 p-0 mt-2">
                  <%= image_tag current_page?(rental_applications_path) ? 'sidebar/active_rental_application.svg' : 'sidebar/inactive_rental_application.svg', width: '25' %>
                </div>
                <div class="col-md-9 p-0">
                  <span class="<%= current? 'active', rental_applications_path %>">Rental Applications</span>
                </div>
              </a>
            </div>
          </div>
        </li>

        <!-- My Properties -->
        <li class="<%= 'active_border' if current_page? properties_path %>">
          <div class="row">
            <div class="col-md-12">
              <a href="<%= properties_path %>">
                <div class="col-md-3 p-0 mt-2">
                  <%= image_tag current_page?(properties_path) ? 'sidebar/active_home.svg' : 'sidebar/inactive_home.svg', width: '25' %>
                </div>
                <div class="col-md-9 p-0"><span>My Properties</span></div>
              </a>
            </div>
          </div>
        </li>

        <!-- Account Settings -->
        <li class="<%= 'active_border' if current_page? account_settings_path %>">
          <div class="row">
            <div class="col-md-12">
              <a href="<%= account_settings_path %>">
                <div class="col-md-3 p-0 mt-2">
                  <%= image_tag current_page?(account_settings_path) ? 'sidebar/active_account_setting.svg' : 'sidebar/inactive_account_setting.svg', width: '25' %>
                </div>
                <div class="col-md-9 p-0">
                  <span class="<%= current? 'active', account_settings_path %>">Account Settings</span>
                </div>
              </a>
            </div>
          </div>
        </li>

      </ul>
    </div>
  </div>
</div>