<!doctype html>
<html lang="en">
<head>

  <!-- Application title -->
  <title><%= content_for?(:title) ? yield(:title) : 'iPM App' %></title>

  <!-- Required Meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "iPM App" %>">
  <%= csrf_meta_tags %>

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">

  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>


  <!--  Files Order
  1- jQuery
  2- Popper JS
  3- Bootstrap JS
  -->

  <!-- jQuery library -->
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>

  <!-- Popper JS -->
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>

  <!--  Bootstrap Js -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>

  <!-- Jquery Ajax -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

  <!-- Jquery Validate -->
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.js"></script>

  <!--  The source code for the RocketDocument UI-->
  <script src="https://rocket-document.sandbox.rocketlawyer.com/rocket-document.js"></script>


  <!-- In page CSS -->
  <style type="text/css">
      .main-content-div-section {
          width: 100%;
          margin-top: 75px;
          margin-left: 225px;
          padding: 1rem 40px;
      }

      /*---TopBar---*/
      .navbar {
          min-height: 80px !important;
          border-radius: 0 !important;
          margin-bottom: 0 !important;
          border: 1px solid #E5E5E5 !important;
      }

      /*
      * Sidebar
      */
      #nav-sidebar {
          left: 0;
          bottom: 0;
          top: 80px;
          width: 240px;
          z-index: 1000;
          position: fixed;
          overflow-y: auto;
          overflow-x: hidden;
          white-space: nowrap;
          border-right: 1px solid #eee;
          transition: all 0.5s ease;
          background-color: #F8F8F8;;
      }

      .sidebar-expand {
          display: inline-flex;
          margin: 0 0 1.5rem 1rem;
      }

      .sidebar-expand button {
          color: #000;
          cursor: pointer;
          border-width: 0;
          background: 0 0;
          line-height: 1.1;
          font-size: 2.5rem;
          transition: all 0.5s ease;
          -o-transition: all 0.5s ease;
          -moz-transition: all 0.5s ease;
          -webkit-transition: all 0.5s ease;
          border-color: rgba(255, 255, 255, .1);
      }

      @media (max-width: 768px) {
          #nav-topbar .brand-container,
          #nav-sidebar {
              width: 0;
          }

          #nav-topbar .brand-container.active,
          #nav-sidebar.active {
              width: 225px;
              min-width: 50px;
              max-width: 225px;
          }

          #nav-sidebar.active .sidebar-content {
              display: block !important;
          }

          .main-content-div-section {
              margin-left: 0;
          }

          .card-img-logo {
              width: 80px !important;
              margin: 0 auto !important;
          }

          .card-content-text {
              align-items: center;
              display: block !important;
              text-align: center !important;
          }

          .toggle-menu-button {
              display: block !important;
          }
      }

      @media (max-width: 600px) {
          #nav-topbar .brand-container,
          #nav-sidebar {
              width: 0;
          }

          #nav-topbar .brand-container.active,
          #nav-sidebar.active {
              width: 225px;
              min-width: 50px;
              max-width: 225px;
          }

          #nav-sidebar.active .sidebar-content {
              display: block !important;
          }

          .main-content-div-section {
              margin-left: 0;
              padding: 1rem 20px;
          }

          .card-img-logo {
              width: 60px !important;
              margin: 0 auto !important;
          }

          .card-content {
              text-align: center;
          }

          .card-content h3 {
              font-size: 18px;
              text-align: center;
          }

          .card-content {
              padding: 20px 0 0 0;
          }

          .logo-img-container {
              width: 150px !important;
          }

          .toggle-menu-button {
              display: block !important;
          }
      }

      /*
      * Transforms
      */
      .rotate-90cw {
          transform: rotate(90deg);
          -ms-transform: rotate(90deg);
          -moz-transform: rotate(90deg);
          -webkit-transform: rotate(90deg);
      }

      .rotate-180cw {
          transform: rotate(180deg);
          -ms-transform: rotate(180deg);
          -moz-transform: rotate(180deg);
          -webkit-transform: rotate(180deg);
      }

      .rotate-90ccw {
          transform: rotate(-90deg);
          -moz-transform: rotate(-90deg);
          -ms-transform: rotate(-90deg);
          -webkit-transform: rotate(-90deg);
      }

      .rotate-180ccw {
          transform: rotate(-180deg);
          -ms-transform: rotate(-180deg);
          -moz-transform: rotate(-180deg);
          -webkit-transform: rotate(-180deg);
      }

      .flip-y {
          transform: perspective(100px) rotateY(180deg);
          -ms-transform: perspective(100px) rotateY(180deg);
          -moz-transform: perspective(100px) rotateY(180deg);
          -webkit-transform: perspective(100px) rotateY(180deg);
      }

      .flip-x {
          transform: perspective(100px) rotateX(180deg);
          -ms-transform: perspective(100px) rotateX(180deg);
          -moz-transform: perspective(100px) rotateX(180deg);
          -webkit-transform: perspective(100px) rotateX(180deg);
      }

      /*-------------------------------*/
      /*--------- Custom css-----------*/
      /*-------------------------------*/
      .sidebar-content a {
          color: black;
          padding: 16px;
          display: block;
          text-decoration: none;
      }

      .sidebar-content a.active {
          color: white;
          background-color: #04AA6D;
      }

      .sidebar-content ul {
          margin: 0;
          padding: 0;
          list-style: none;
      }

      .sidebar-content ul li a {
          padding: 20px;
          font-size: 16px;
          margin-left: 10px;
      }

      .sidebar-content ul li a span {
          color: #000;
          margin-left: 10px;
      }

      .card-icon-img {
          text-align: center;
          align-items: center;
      }

      .card-img-logo {
          width: 100px;
          margin: 0 auto;
      }

      .card-img-logo img {
          width: 100%;
          height: 100%;
          object-fit: cover;
      }

      .nav-item-text {
          margin: 0 10px;
          font-size: 16px;
          padding-top: 5px;
          font-weight: 500;
          color: #000000 !important;
          text-transform: capitalize;
      }

      /*.user-nameshow{
      }*/
      .user-nameshow::before {
          left: -1px;
          width: 1px;
          content: '';
          height: 15px;
          margin-top: 20px;
          position: absolute;
          background: #dee2e6;
      }

      .user-name {
          margin: 0 10px;
          color: #000000;
          font-size: 16px;
          text-transform: capitalize;
      }

      .logo-img-container {
          width: 230px;
      }

      .logo-img-container img {
          width: 100%;
          height: 100%;
          object-fit: cover;
      }

      .navbar-dark .navbar-nav .nav-link {
          color: #000000 !important;
      }

      .active_border {
          background-color: white !important;
          border-right: 3px solid #FF8F00 !important;
      }

      .page-heading-container {
          padding: 30px 0;
      }

      .page-heading-container .page-heading {
          font-size: 30px;
          font-weight: 500;
      }

      .card-content h3 {
          font-size: 18px;
      }

      .card-content p {
          font-size: 15px;
      }

      .card-icon-img {
          text-align: center;
      }

      .card-content-text {
          display: flex;
          align-items: center;
      }

      .toggle-menu-button {
          display: none;
      }

      .user-nameshow .dropdown-toggle::after {
          display: none;
      }
  </style>

</head>
<body>

<!-- Page Loader -->
<div id="loader"></div>
<% if user_signed_in? %>
  <%= render 'layouts/header' %>
  <div class="container-fluid">
    <div class="row">
      <%= render 'layouts/sidebar' %>
      <main class="main main-content-div-section">
        <div class="main-content-section">
          <div class="container-fluid">
            <%= render partial: 'layouts/messages' %>
            <%= yield %>
          </div>
        </div>
      </main>
    </div>
  </div>
<% else %>
  <div class="container-fluid">
    <%= yield %>
  </div>
<% end %>


<script type="text/javascript">
    $('.sidebar-expand button').click(function () {
        $(this).toggleClass('flip-y');
        $('#nav-sidebar').toggleClass('active');
        $('.main-content-div-section').css('background-color', 'rgba(0,0,0,0.5)').css('position', 'fixed');
        $('.card-body').css('background-color', 'rgba(0,0,0,0.5)');
    });

    $('input.zipcode_interactive').blur(function (data) {
        const zipcode = $(this).val();
        const from = $(this).data('from');
        getCityState(zipcode, from)
    });

    function getCityState(zipcode, from) {
        $.ajax({
            url: '/properties/fetch_zip_data/' + zipcode,
            type: 'GET',
            data: {},
            success: function (data) {
                if (data.success === true) {
                    if (from === 'create_property') {
                        $('#createZipErr').text('');
                        $('#propertyCity').attr('value', data.message.city);
                        $('#propertyState').attr('value', data.message.state);
                    } else if (from === 'update_property') {
                        $('#updateZipErr').text('');
                        $('#EpropertyCity').attr('value', data.message.city);
                        $('#EpropertyState').attr('value', data.message.state);
                    } else if (from === 'account_settings') {
                        $('#updateAccountSettingErr').text('');
                        $('#accountSettingCity').attr('value', data.message.city);
                        $('#accountSettingState').attr('value', data.message.state);
                        $('#accountSettingCountry').attr('value', data.message.county);
                    } else if (from === 'payment_details') {
                        $('#BillingCity').attr('value', data.message.city);
                        $('#BillingState').attr('value', data.message.state);
                        $('#BillingCountry').attr('value', data.message.county);
                    } else if (from === 'create_property_tenant') {
                        $('#createZipErrTN').text('');
                        $('#propertyTNCity').attr('value', data.message.city);
                        $('#propertyTNState').attr('value', data.message.state);
                    } else if (from === 'update_property_tenant') {
                        $('#updateZipErrTN').text('');
                        $('#EpropertyTNCity').attr('value', data.message.city);
                        $('#EpropertyTNState').attr('value', data.message.state);
                    }
                } else {
                    if (from === 'payment_details') {
                        $('#IncorrectZipCode').text('').show().text(data.message);
                    } else if (from === 'create_property') {
                        $('#createZipErr').text('').show().text(data.message);
                    } else if (from === 'update_property') {
                        $('#updateZipErr').text('').show().text(data.message);
                    } else if (from === 'account_settings') {
                        $('#updateAccountSettingErr').text('').show().text(data.message);
                    } else if (from === 'update_property_tenant') {
                        $('#updateZipErrTN').text('').show().text(data.message);
                    } else if (from === 'create_property_tenant') {
                        $('#createZipErrTN').text('').show().text(data.message);
                    }

                }
            },
            error: function (exception) {
            }
        });
    }

</script>

</body>
</html>